<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.middledleeast.tamm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name=".activities.UsersFree"></activity>-->
        <activity
            android:name=".activities.RenewAccount"
            android:label="@string/title_activity_renew_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PassengerDeparture" />
        <activity android:name=".activities.Passenger_inform" />
        <activity android:name=".activities.FlightDetails" />
        <activity android:name=".activities.PassengerInformation" />
        <activity android:name=".activities.FlightsSummary" />
        <activity android:name=".activities.PaymentFlights" />
        <activity android:name=".activities.Proceedbeybey" />
        <activity android:name=".activities.FlightTamm" />
        <activity android:name=".activities.HotelBooking" />
        <activity android:name=".activities.RoomBooked" />
        <activity android:name=".activities.checkroom" />
        <activity android:name=".activities.ChooseBookingDate" />
        <activity android:name=".activities.HotelDetails" />
        <activity android:name=".activities.ChooseHotelActivity" />
        <activity android:name=".activities.WelcomeActivity">


        </activity>
        <activity android:name=".LanguageActivity" />
        <activity android:name=".activities.FlightSearch">

        </activity>
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.FreeAccount" />
        <activity android:name=".activities.MemberShip" />
        <activity android:name=".activities.MemberShipPlan" />
        <activity android:name=".activities.FreeAccountPlan" />
        <activity android:name=".activities.ProceedCheckout" />
        <activity android:name=".activities.MemberCongrats" />
        <activity android:name=".activities.FREEcONGRATS" />
        <activity android:name=".model.ReserveRoom" />
        <activity android:name=".activities.ConfirmBookingRoom" />
        <activity android:name=".activities.TestHotelApi" />
        <activity android:name=".activities.SplashActivity" />
        <activity android:name=".activities.FindHotels" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>