<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.middledleeast.tamm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE _EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name="net.middledleeast.tamm.activities.OffersFlightsDetailsActivity"></activity>
        <activity android:name="net.middledleeast.tamm.activities.VoiceMessageActivity" />
        <activity android:name="net.middledleeast.tamm.activities.OffersHotelsDetailsActivity" />
        <activity android:name="net.middledleeast.tamm.activities.SettingActivity" />
        <activity android:name="net.middledleeast.tamm.activities.AboutUs" />
        <activity android:name="net.middledleeast.tamm.activities.ContactUs" />
        <activity android:name="net.middledleeast.tamm.activities.AssistantActivity" />
        <activity android:name="net.middledleeast.tamm.activities.MemberCongratsActivity" />
        <activity android:name="net.middledleeast.tamm.activities.FreeCongratsActivity" />
        <activity android:name="net.middledleeast.tamm.activities.TermsActivity" />
        <activity android:name="net.middledleeast.tamm.activities.KnetActivity">


        </activity>
        <activity
            android:name="net.middledleeast.tamm.activities.SeatSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.RecommendedTwoWay"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.RecommendedOneWay"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.ActivityToFragment.PaymentActivityFragment"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activities.UsersFree"></activity> -->
        <activity
            android:name="net.middledleeast.tamm.activities.Proceedbeybey"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="net.middledleeast.tamm.activities.PassengerDeparture"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="net.middledleeast.tamm.activities.Passenger_inform"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.FlightDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.PassengerInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.FlightsSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.PaymentFlights"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.SplashActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="net.middledleeast.tamm.activities.FlightTamm"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.PaymentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="net.middledleeast.tamm.activities.HotelBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.RoomBooked"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.checkroom"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.ChooseBookingDate"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.HotelDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.ChooseHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="net.middledleeast.tamm.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.FindHotels"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.FlightSearch"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="net.middledleeast.tamm.activities.ConfirmBookingRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.ReserveRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.middledleeast.tamm.activities.RenewAccount"
            android:screenOrientation="portrait" />
        <activity android:name="net.middledleeast.tamm.activities.PaymentTemp" />
        <activity android:name="net.middledleeast.tamm.activities.OffersActivity" />
        <activity android:name="net.middledleeast.tamm.activities.FavoriteActivity" />
        <activity android:name="net.middledleeast.tamm.activities.MyBookActivity" />

        <service
            android:name="net.middledleeast.tamm.sevice.MyService"
            android:enabled="true" />
    </application>

</manifest>