<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.middledleeast.tamm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE _EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".activities.MyBookActivity"></activity>
        <activity android:name=".activities.OffersDetailsActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.AboutUs" />
        <activity android:name=".activities.ContactUs" />
        <activity android:name=".activities.AssistantActivity" />
        <activity android:name=".activities.MemberCongratsActivity" />
        <activity android:name=".activities.FreeCongratsActivity" />
        <activity android:name=".activities.TermsActivity" />
        <activity android:name=".activities.KnetActivity">

            <!-- android:theme="@android:style/Theme.NoTitleBar" -->

        </activity>
        <activity
            android:name=".activities.SeatSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RecommendedTwoWay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RecommendedOneWay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityToFragment.PaymentActivityFragment"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activities.UsersFree"></activity> -->
        <activity
            android:name=".activities.Proceedbeybey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PassengerDeparture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Passenger_inform"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FlightDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PassengerInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FlightsSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentFlights"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FlightTamm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HotelBooking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RoomBooked"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.checkroom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseBookingDate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HotelDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FindHotels"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FlightSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConfirmBookingRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReserveRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RenewAccount"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.PaymentTemp" />
        <activity android:name=".activities.OffersActivity" />
        <activity android:name=".activities.FavoriteActivity" />

        <service
            android:name=".sevice.MyService"
            android:enabled="true" />
    </application>

</manifest>